#addbutton {
    position: absolute;
    top: 50px;
    z-index: 1000;
    right: 28px;
    -webkit-transform: translate(0px, -28px);
    transform: translate(0px, -28px);
}

#addbutton button {
    float: right;
}

#addbutton .mdl-list {
    background-color: white;
}

.mdl-layout__content {
    margin: auto 0;
    border: red solid 1px;
}

.clearboth {
    clear: both;
}

.mdl-grid {
    min-height: 400px;
}

#logContent {
    overflow: scroll;
    height: 400px;
}

#logContent p {
    margin: 5px;
    padding: 5px;
}

p.notice {
    background-color: #eee;
}